.song-container {
  border: 3px solid #000;
  width: 500px;
  padding: 20px;
  margin: auto;
}

.song-container > img {
  height: 180px;
}

.song-container > button { 
  background-color: cadetblue;
  color: aliceblue;
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 18px 0px rgba(0,0,0,0.26);
}