.song-container {
  border-radius: 0.75rem;
  border: 1px solid #000;
  padding: 20px;
  height: 17rem;
  margin: auto;
  background-color: #f0fffa;
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 3px 2px 8px 0px rgba(0,0,0,0.51);
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.song-container h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.song-container p {
  margin-bottom: 1rem;
}

.song-container > img {
  height: 150px;
  margin-right: 2rem;
}

.song-container  button {
  background-color: cadetblue;
  color: aliceblue;
  cursor: pointer;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 18px 0px rgba(0, 0, 0, 0.26);
}

@media (max-width: 768px) {
  .song-container > img {
    height: 80px;
  }
}
