h1 {
	padding-top: 3rem;
  font-size: 2rem;
  color: rgb(240, 255, 250);
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
  margin-bottom: 1rem;
}

form {
	display: flex;
	margin: auto;
	width: 25rem;
	flex-direction: column;
	margin-bottom: 4rem;
}

h4 {
	color: rgb(240, 255, 250);
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

label {
	margin-bottom: 0.5rem;
}

#title, #desc {
	margin-bottom: 0.5rem;
	height: 2rem;
	padding: 0.5rem 1rem;
}

@media (max-width: 500px) {
  form {
	  width: 90%;
  }
}